<h1>User: <%= @user.name %></h1>
<%= link_to "New Article", new_user_article_path(@user.id) %><br>
<dl>
	<% @user.articles.each do |article| %>
		<dt>Title: <%= article.title %></dt>
			<dd>Body: <%= truncate(article.body, length: 100) %></dd>
	<% end %>
</dl>

<%= link_to "Back to users", users_path %>
